.divTable {
  display: table;
  width: auto;
  border: 1px solid #666666;
  border-spacing: 5px; /*cellspacing:poor IE support for  this*/
  /* border-collapse:separate;*/
}

.divRow {
  display: table-row;
  width: auto;
}

.divRow.even {
  background-color: #fafafa
}

.divRow.odd {
  background-color: #cecece
}

.divCell {
  float: left; /*fix for  buggy browsers*/
  display: table-column;
  width: 200px;
  /*background-color: #ccc;*/
  /*border-right: 1px solid;*/
}

.headRow .divCell {
  border-bottom: 1px solid;
  background-color: #cecece;
}
